@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-image: url(img/bg-hero.png);
  background-size: 60%;
  background-position-x: center;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
}

.btn-login {
  border-radius: 20px;
}

.btn-register {
  border-radius: 20px;
}

.navbar-nav {
  padding-left: 100px;
  padding-right: 100px;
}

h1 {
  font-weight: 800;
  color: #404040;
  font-size: 40px;
}

.navbar {
  font-weight: 700;
  font-size: 14px;
  color: #374151;
}

h4 {
  font-size: 16px;
  font-weight: 600;
  color: #404040;
}

p {
  font-size: 14px;
  font-weight: 400;
  color: #4e5053;
}

.gambar {
  margin-left: 120px;
}

@media only screen and (max-width: 768px) {
  .btn-login {
    width: 100%;
  }
  .btn-register {
    width: 100%;
  }
}
